<!DOCTYPE html>
<html>
<head>
    <title>Active Permits Risk Screening Tool</title>

<style type="text/css">
html { 
	height: 100% 
}
body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;	
}
#map {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #333;
	pointer-events: all;
}
div.tooltip {
	color: #222;
	background: #fff;
	padding: .5em;
	text-shadow: #f5f5f5 0 1px 0;
	border-radius: 7px; 
	box-shadow: 0px 0px 2px 0px #a6a6a6; 
	opacity: 0.9; 
	position: absolute;
	visibility: hidden;
}
.ui {
	top: 10px;
	left: 50px;
	padding: 8px;
	position: absolute;
	background-color: #fff;
	border: 2px solid #707070;
	border-radius: 7px;
	width: 280px;
}


</style>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css'
    	rel='stylesheet' type='text/css'/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

</head>
<body>
	<div id="map">

	</div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.9/d3.min.js"></script>
<script src="Leaflet.D3SvgOverlay-master/L.D3SvgOverlay.min.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>



	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1;
	var yyyy = today.getFullYear();
	today = mm + '/' + dd + '/' + yyyy;	
	d3.select("#today").html(today);
<!-- var grayscale = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}.png', {attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'});  -->
<!-- var	streets = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.png', {attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'});  -->
	
<!-- var map = L.map('map', { -->
	<!-- center: [40.734063, -73.958424], -->
	<!-- zoom: 11, -->
	<!-- layers: [grayscale, streets] -->
<!-- }); -->
<!-- var baseMaps = { -->
	<!-- "Grayscale": grayscale, -->
	<!-- "Streets": streets -->

	
<!-- }; -->
<!-- L.control.layers(baseMaps).addTo(map); -->

var map = L.map('map').setView([40.712824, -74.005999], 11);
L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}.png', {attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);

var tooltip = d3.select('body').append('div')
	//settings for using hyperlink in tooltip
	.on('mouseover', function(d, i){
		tooltip.transition().duration(0);
	})
	.on('mouseout', function(d, i){
		tooltip.transition().delay(500).style('visibility', 'hidden');
	})
	.attr('class', 'tooltip');
	
var width = $("#map").width(),
	height = $("#map").height();


function init(){

	var points = [];
	var pointsOverlay = L.d3SvgOverlay(function(sel,proj){
		
	var pointsUpd = sel.selectAll('circle').data(points);

	pointsUpd.enter()
		.append('circle')
		.attr('cx',function(d){return proj.latLngToLayerPoint(d.latLng).x;})
		.attr('cy',function(d){return proj.latLngToLayerPoint(d.latLng).y;})
		.attr('stroke', 'white')
		.attr('stroke-width', 1)
		.attr('fill', '#DB8300')
		
		//.attr('r', 4 / proj.scale)
		.on('click', function(d){
			tooltip.style("visibility", "visible");
			tooltip.html(
				'JOB NUMBER: ' + '<a href= "http://a810-bisweb.nyc.gov/bisweb/JobsQueryByNumberServlet?passjobnumber=' + d.jobNum +'" target=_blank">' + d.jobNum + "</a>" + '</br>' +
				'BIN: ' + d.bin + '</br>' +								
				'ADDRESS: '+ d.Address + ', ' + d.Borough + '</br>' +
				'WORK TYPE: '+ d.workType				
			)
			if (d3.event.pageX > (width - 200)) {
			   tooltip.style("left", (d3.event.pageX - 350) + "px");
			} else {
			   tooltip.style("left", (d3.event.pageX + 20) + "px")
					.style("top", (d3.event.pageY -30) + "px");
			}
			if (d3.event.pageY > (height - 150)) {
			   tooltip.style("top", (d3.event.pageY -100) + "px");
			} else {
			   tooltip.style("top", (d3.event.pageY -30) + "px");
			}				
		})
		.on("mouseover", function(d, i){
			tooltip.transition().duration(0); //settings for using hyperlink in tooltip
			$(this).attr("style", "cursor: pointer; fill: #eef442; fill-opacity: 1;");			
		})

		.on("mouseout", function(d, i){			
			$(this).attr("style", "stroke-width: 0px; fill-opacity: .7;");
			return tooltip.transition().delay(500).style("visibility", "hidden"); //settings for using hyperlink in tooltip
		});

		pointsUpd.attr('r', 4 / proj.scale);


});

	

	d3.csv("https://raw.githubusercontent.com/NYCDOB/DOB_Dashboards/gh-pages/demo-data/sprinklers.csv",function(data){

				points = data.map(function(d){
				d.latLng = [+d.Latitude,+d.Longitude];
				d.bin = [d.Bin];				
				d.Address = [d.Address];
				d.Borough = [d.Borough];
				d.jobNum = d["Job Number"];
				d.workType = d["Work Type Name"];
			return d;
			});

		pointsOverlay.addTo(map);
		<!-- d3.selectAll(".medium").style("display", "none"); -->
		<!-- d3.selectAll(".low").style("display", "none"); -->
	});
}

init();

</script>
    
</body>
</html>